@import "~bootstrap/scss/bootstrap";

// CSS FOR THE CLIENT

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  width: 30rem;
  //min-height: 100vh;
  //margin-left: -15rem;
  padding: 10px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

// CSS FOR THE GRAPHS

#explorer-form {
  padding: 5px;
}

#explorer-canvas {
    height: calc(100vh);
    width: 100%;
}

#explorer-display iframe {
  height: calc(100vh);
  width: 100%;
}

path.link {
    fill: none;
    stroke-width: 1.5px;
}

circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 14px;
}

// CSS FIXES FOR TOASTR
#toast-container .toast {
  background-color: #030303;
}

#toast-container .toast-success {
  background-color: #51a351;
}

#toast-container .toast-error {
  background-color: #bd362f;
}

#toast-container .toast-info {
  background-color: #2f96b4;
}

#toast-container .toast-warning {
  background-color: #f89406;
}